/* *{ */
  /* background-color: black;
  color: white;
} */
.img-fluid{
  border-radius: 70%;
  max-width: 50% !important;
    height: auto;
}
#cv-form{
  /* display: none; */
}

#cv-template{
  display: none;
}